<!DOCTYPE html>
<html>
<head>
  <title>About</title>
</head>
<body>

<h1>ABOUT</h1>
<p>This is a paragraph.</p>


<ul>
  <li>Michal jest super</li>
  <li>Michal jest ekstra</li>
</ul>

<p>To ja<br> MICHAL</p>
<%=link_to 'Home', root_path %>
</body>
</html>