<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <meta charset="UTF-8">
</head>
<body style="background-color: azure">


<h1>HOME</h1>
<hr>
<h1>Hehe</h1>
<b>hehe</b>
<hr>
<h2>2 kreski bo lubie</h2>
<p style="color:darkseagreen">This is a paragraph.</p>

<img src="https://upload.wikimedia.org/wikipedia/commons/2/21/Janusz_Korwin-Mikke_Sejm_2016.JPG"
     alt="janusz_korwin"
     width="112" height="124">

<a href="https://www.facebook.com">This is my favourite page guys</a>

<pre>
  Tą własnie strone chciałbym poświecić wodzowi

  który w walce z lewactem zaprzepaścił szanse na kapitalizm

  który walczy pełnym sercem pełbym oddaniem

  o Polsce co Dmowski chciał mieć przed oczami
</pre>

<address>
  Written by Michał DYsput.<br>
  Visit us at:<br>
  Example.com<br>
  Box 564, Disneyland<br>
  USA
</address>

<bdo dir="rtl">This text will be written from right to left</bdo>

<%= link_to 'About', about_path %>

</body>
</html>